@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./tailwind/component.css";

@font-face {
  font-family: "Euclid Circular A Light";
  src: url("https://db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.eot");
  src: url("https://db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/1dced00e473a2db7b3d52a4c8392f31e.svg#Euclid Circular A Light")
      format("svg");
}

body {
  font-family: "Euclid";
}

:lang(tr) {
  font-family: "Euclid Circular A Light";
}

.Toastify__toast-body {
  font-family: "Euclid" !important;
}

.ant-menu {
  background-color: #fafafa !important;
}

.ant-menu-title-content {
  color: #18181c75 !important;
}

.ant-menu-item-icon {
  color: #18181c75 !important;
}
