@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./tailwind/component.css";

body {
  font-family: "Rubik", sans-serif;
}

:lang(tr) {
  font-family: "Rubik", sans-serif; 
}

.Toastify__toast-body {
  font-family: "Euclid" !important;
}

.ant-menu {
  background-color: #FAFAFA !important;
}

.ant-menu-title-content {
  color: #18181c75 !important;
}

.ant-menu-item-icon {
  color: #18181c75 !important;
}

.ant-menu-item-group-title {
  font-size: 12px;
}